<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.5.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa1c0bca435ef744faa32862f7530810:cc97a487931a0bb5becee315492ceb08:828dbd1ecf674976eb28fccf9d2e75c6$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>fourDrops.1.png</string>
                <key>size</key>
                <string>{57,986}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_38.png</string>
                        <key>spriteOffset</key>
                        <string>{8,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{55,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_17.png</string>
                        <key>spriteOffset</key>
                        <string>{9,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,58},{53,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_16.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,113},{52,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_18.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,166},{52,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_25.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,166},{52,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_24.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,219},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_26.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,219},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_31.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,272},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_33.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,272},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_37.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,272},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_5.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,272},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_32.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,325},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_4.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,325},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_9.png</string>
                        <key>spriteOffset</key>
                        <string>{10,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,378},{51,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_10.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_11.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_19.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_27.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_3.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_34.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_36.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_6.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_8.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,431},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_15.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,483},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_23.png</string>
                        <key>spriteOffset</key>
                        <string>{11,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,535},{50,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_28.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,587},{50,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_30.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,587},{50,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_35.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,587},{50,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_7.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,587},{50,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_2.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,638},{50,48}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_1.png</string>
                        <key>spriteOffset</key>
                        <string>{11,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,688},{50,46}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_20.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,736},{49,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_22.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,736},{49,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_29.png</string>
                        <key>spriteOffset</key>
                        <string>{11,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,787},{49,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_12.png</string>
                        <key>spriteOffset</key>
                        <string>{12,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,838},{49,48}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_14.png</string>
                        <key>spriteOffset</key>
                        <string>{12,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,888},{48,48}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_21.png</string>
                        <key>spriteOffset</key>
                        <string>{12,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,888},{48,48}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fourDrops_13.png</string>
                        <key>spriteOffset</key>
                        <string>{12,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,938},{47,47}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
