<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.5.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0342e177cc61f95ca36adc6a0c96940c:b7d4d27b514cb5de52299e648f205d5b:bb0caf93e33972e6640642de779665bf$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>twoDrops.1.png</string>
                <key>size</key>
                <string>{1012,64}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_35.png</string>
                        <key>spriteOffset</key>
                        <string>{16,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{40,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_2.png</string>
                        <key>spriteOffset</key>
                        <string>{21,27}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,37},{30,26}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_36.png</string>
                        <key>spriteOffset</key>
                        <string>{16,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{43,1},{40,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_37.png</string>
                        <key>spriteOffset</key>
                        <string>{16,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{85,1},{40,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_44.png</string>
                        <key>spriteOffset</key>
                        <string>{16,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{127,1},{40,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_10.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{169,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_11.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{210,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_18.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{251,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_43.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{292,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_45.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{333,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_51.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{374,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_9.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{415,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_17.png</string>
                        <key>spriteOffset</key>
                        <string>{17,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{456,1},{38,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_19.png</string>
                        <key>spriteOffset</key>
                        <string>{17,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{456,1},{38,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_13.png</string>
                        <key>spriteOffset</key>
                        <string>{18,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{456,34},{35,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_15.png</string>
                        <key>spriteOffset</key>
                        <string>{18,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{456,34},{35,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_25.png</string>
                        <key>spriteOffset</key>
                        <string>{17,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{496,1},{38,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_22.png</string>
                        <key>spriteOffset</key>
                        <string>{18,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{493,34},{35,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_14.png</string>
                        <key>spriteOffset</key>
                        <string>{19,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{530,34},{34,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_47.png</string>
                        <key>spriteOffset</key>
                        <string>{17,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{536,1},{37,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_5.png</string>
                        <key>spriteOffset</key>
                        <string>{19,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{566,34},{34,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_49.png</string>
                        <key>spriteOffset</key>
                        <string>{17,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{575,1},{37,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_6.png</string>
                        <key>spriteOffset</key>
                        <string>{19,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{602,34},{34,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_53.png</string>
                        <key>spriteOffset</key>
                        <string>{17,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{614,1},{37,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_7.png</string>
                        <key>spriteOffset</key>
                        <string>{19,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{638,34},{34,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_12.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_16.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_20.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_24.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_26.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_28.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_8.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{653,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_21.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{674,33},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_23.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{674,33},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_27.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{691,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_39.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{712,33},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_41.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{712,33},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_4.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{729,1},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_48.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{750,33},{36,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_31.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{767,1},{35,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_32.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{788,33},{35,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_33.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{804,1},{35,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_40.png</string>
                        <key>spriteOffset</key>
                        <string>{18,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{825,33},{35,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_3.png</string>
                        <key>spriteOffset</key>
                        <string>{19,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{841,1},{34,28}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_29.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_30.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_42.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_46.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_52.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_54.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_55.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{862,31},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_1.png</string>
                        <key>spriteOffset</key>
                        <string>{23,30}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{33,37},{25,21}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_34.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{901,1},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_38.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{940,1},{37,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>twoDrops_50.png</string>
                        <key>spriteOffset</key>
                        <string>{17,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{979,1},{32,37}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
