<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.5.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bde53c85b5fcc8f2b3e0f6bee16c2b60:4b3476ececd9755e3823a89933b33342:2ec84580c11f0815e082d454ba7a7cbc$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>oneToTwo.1.png</string>
                <key>size</key>
                <string>{110,52}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>oneToTwo_5.png</string>
                        <key>spriteOffset</key>
                        <string>{16,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{39,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>oneToTwo_6.png</string>
                        <key>spriteOffset</key>
                        <string>{18,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{42,1},{35,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>oneToTwo_4.png</string>
                        <key>spriteOffset</key>
                        <string>{21,27}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{79,1},{30,26}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>oneToTwo_1.png</string>
                        <key>spriteOffset</key>
                        <string>{26,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{42,32},{20,19}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>oneToTwo_2.png</string>
                        <key>spriteOffset</key>
                        <string>{26,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{64,32},{20,19}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>oneToTwo_3.png</string>
                        <key>spriteOffset</key>
                        <string>{26,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,80}</string>
                        <key>textureRect</key>
                        <string>{{86,29},{20,19}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
